@import "tailwindcss";

@theme {
  /* Primary colors */
  --color-primary-light: #00FA73;
  --color-primary: #00D54B;
  --color-primary-dark: #118C4F;

  /* Secondary colors */
  --color-secondary-light: #FFD700;
  --color-secondary: #F3BA2F;
  --color-secondary-dark: #E49B0F;

  /* Dark palette */
  --color-dark-lighter: #232323;
  --color-dark-light: #1A1A1A;
  --color-dark: #121212;
  --color-dark-dark: #0C0C0C;
  --color-dark-darker: #000000;

  /* Accent colors */
  --color-accent-blue: #1da1f2;
  --color-accent-purple: #9945FF;
  --color-accent-red: #ff4c4c;
  --color-accent-pink: #FF52A2;

  /* Gray scale */
  --color-gray-lightest: #f5f5f5;
  --color-gray-lighter: #d4d4d4;
  --color-gray-light: #a3a3a3;
  --color-gray: #737373;
  --color-gray-dark: #525252;
  --color-gray-darker: #303030;
  --color-gray-darkest: #171717;

  /* Fonts */
  --font-sans: "Inter", Arial, sans-serif;

  /* Border radius */
  --radius-widget: 16px;

  /* Shadows would need to be defined with specific variables */
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  font-family:"Lato", sans-serif;;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
